html {height: 100%}

body {
    background-color: #ecf2f8;
    height: 100%; 
    font-family: Courier New, monospace;
    Margin: 0; 
}

#container {
    top: 15%;
    position: relative;
    height: 100%; 
    width: 100%;
}

 #image {   
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
    border-radius: 50%;
    border: 10px solid #00e6b8;
}

#greeting {
    text-align: center; 
    font-family: Didot, serif;
    font-size: 36px;
    font-weight: bold;
    padding: 100px 50px 100px 50px;
}

#about-me {
    background-color: #00e6b8; 
    padding: 5px 50px 20px 50px;
    border-radius: 100px;
}

#abt-me { 
    color: white; 
    font-size: 36px;
}

p { 
    font-size: 24px;
    color: black;
}

ul {
    background-color: pink;
    list-style-type: none;
    margin: 0;
    overflow: hidden; 
    position: fixed; 
    vertical-align: middle; 
    z-index: 1; 
    top: 0; 
    Width: 100%;

}

li {
    float: left;
}

li a {
    display: block; 
    color: black; 
    font-size: 20px;
    text-align: center; 
    padding: 10px 16px; 
    text-decoration: none; 
}

li a:hover {
    background-color: #00cca3;
    color: white; 
}

@media screen and (max-width: 600px){
    ul li.right, 
	ul li {float: none;}
    #container{margin-top: 60%;}
}


