html {height: 100%}

body {
    /*background-color: #00e6b8; */
    background-color: #b3ffda;
    height: 100%; 
    font-family: Courier New, monospace;
    Margin: 0; 
}

#container {
    top: 10%;
    position: relative;
    height: 100%; 
    width: 100%;

}

 #image {   
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
    border-radius: 50%;
    border: 5px solid white;
}

#greeting {
    text-align: center; 
    font-family: Courier New, monospace;
    /*font-family: Didot, serif; */
    font-size: 36px;
    font-weight: bold;
    padding: 2% 0 2% 0;
    color: black; 
    text-shadow: 2px 2px white; 


}

#about-me {
    background-color: white; 
    padding: 5px 50px 20px 50px;
    border-radius: 100px;
    margin: 20% 10% 10% 10%;

}

#abt-me { 
    color: black; 
    font-size: 36px;
}

p { 
    font-size: 24px;
    color: black;
}

.navBar {
    width: 100%;
    background: pink;
    border-bottom: 5px solid white;
}

ul {
    width: 100%;
    margin: 0 auto; 
    padding: 0; 
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

li a:hover {
    background-color: #00cca3;
    color: white; 
}

li a {
    display: block; 
    color: black; 
    font-size: 20px;
    text-align: center; 
    padding: 1vw;
    text-decoration: none; 
} 

button {
    width: 100%;
    padding: 5px 20px; 
    background: pink; 
    text-align: right;
    box-sizing: border-box;
    color: black; 
    border: none; 
    font-family: Courier New, monospace;
    font-size: 30px; 
    display: none; 
    outline: none; 
}

@media only screen and (max-width: 800px) {
    button {
        display: block; 
    }
    ul { 
        width: 100%; 
        display: none; 
    }
    ul li { 
        display: block; 
        text-align: center; 
        padding: 0; 
    }
    .active {
        display: block; 
    }
    #about-me {
        margin: 0;
    }
}


