body {
    background-color: #f2f2f2;
}

#banner {
    padding: 0;
}

#main-container {
    margin-top: 3%;
}

#about-me {
    padding-left: 3%;
    padding-top: 3%
}

h2, h3, h4 {
    font-weight: bold;
}

.container {
    font-family: Courier New, monospace;
    font-size: 18px;
    color: black;
}

.navbar {
    font-family: Courier New, monospace;
    text-shadow: 1px 1px black;
    font-size: 18px;
}

#greeting {
    text-align: center;
    font-size: 36px;
    padding-top: 11%;
    padding-right: 3%;
}

#skills {
  text-align: center;
}

#portrait {
    border-radius: 10%;
}

#abt-me {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

a {
    color: inherit;
}

@media only screen and (max-width: 991px) {

    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }

    #portrait {
        width: 50%;
    }
    #greeting {
        padding-right: 0;
        padding-top: 5%;
    }

    #about-me, #projects, #research {
        padding-left: 3%;
        padding right: 3%;
    }

    #about-me {
        padding-top: 10%;
    }
}
