#banner {
    padding: 0;
}

#main-container {
    padding-top: 5%;
}

#greeting {
    padding-right: 7%;
}

#about-me {
    padding-left: 7%;
}

.container {
    /*text-align: center;*/
    font-family: Courier New, monospace;
    font-size: 18px;
    color: black;
}

.navbar {
    font-family: Courier New, monospace;
    text-shadow: 1px 1px black;
    font-size: 18px;
}

#greeting {
    text-align: center;
    font-size: 36px;
}

#portrait {
    border-radius: 10%;
}

#abt-me {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#photo-title {
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: center;
  font-weight: bold;
}

.row {
  padding-top: 2%;
  padding-bottom: 2%;
}

.modal-dialog {
    width: 100%;
}

@media only screen and (max-width: 990px) {

    #portrait {
        width: 50%;
    }
    #greeting {
        padding-right: 5%;
    }

    #about-me {
        padding-left: 0%
    }
    .col-lg {
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .row {
        padding-top: 0;
        padding-bottom: 0;
    }
}
